.about {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: $primary-font;
    margin-top: 10rem;
    padding: 3rem 5rem;

    p {
        line-height: 1.7;
        color: #e8d4ef;
        width: 400px;

        span {
            padding: 5px;
            background: $gradient;
            border-radius: 100px;
        }

        @media (max-width: 1024px) {
            width: 350px;
        }

        @media (max-width: 768px) {
            width: 300px;
            font-size: 1rem;
        }

        @media (max-width: 480px) {
            width: 90%;
            font-size: 0.9rem;
        }
    }

    .two {
        align-self: flex-end;
    }

    @media (max-width: 768px) {
        padding: 2rem 3rem;
        margin-top: 5rem;
    }

    @media (max-width: 480px) {
        padding: 1.5rem 2rem;
        margin-top: 3rem;
    }
}

.marquee {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    span {
        display: inline-block;
        font-size: 5rem;
        font-weight: bold;
        color:$label-color;
        animation: marquee 30s linear infinite;
        @media (max-width: 1024px) {
            font-size: 4rem;
        }

        @media (max-width: 768px) {
            font-size: 3rem;
        }

        @media (max-width: 480px) {
            font-size: 2rem;
        }
    }

    &:nth-child(2) span {
        animation: marquee-reverse 20s linear infinite;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
