footer {
    background: $gradient;
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  
    .logo-container {
      h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
  
        @media (max-width: 768px) {
          font-size: 1.2rem;
        }
  
        @media (max-width: 480px) {
          font-size: 1rem;
        }
      }
    }
  
    .social-media {
      display: flex;
      gap: 1.5rem;
  
      i {
        font-size: 2rem;
        color: white;
        transition: transform 0.3s, color 0.3s;
  
        &:hover {
          transform: scale(1.2);
          color: #cb23f5;
        }
  
        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
  
        @media (max-width: 480px) {
          font-size: 1.2rem;
        }
      }
    }
  }
  